<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA com Angular</title>
  </head>

  <body>
    <div class="conteudo">
      <mat-toolbar>
        <span>Desafio SPA</span>
      </mat-toolbar>

      <div>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Listagem de Usuários</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <section>
              <div class="example-button-row">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" (click)="incrementarUsuario()" aria-label="+ 1 usuário">
                    <mat-icon>add_box</mat-icon>
                  </button>

                  <button mat-mini-fab color="accent" (click)="decrementarUsuario()" aria-label="- 1 usuário">
                    <mat-icon>remove_circle</mat-icon>
                  </button>

                  <button mat-mini-fab color="warn" *ngIf="valorUsuarios > 0" (click)="exibirTabelaUsuario()"
                    aria-label="Exibir Tabela fotos">
                    <mat-icon>content_paste</mat-icon>
                  </button>
                </div>
              </div>
            </section>

            <desafio-usuarios [valorInicial]="valorUsuarios" [exibirTabelaUsuarios]="exibeTabelaUsuarios"
              (mensagemRetornoUsuariosEvent)="exibirMensagemUsuarios($event)">
            </desafio-usuarios>
            <hr>
            <p>
              <span *ngIf="mensagemRetornoUsuarios">{{mensagemRetornoUsuarios}}</span>
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Listagem de Fotos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <section>
              <div class="example-button-row">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" (click)="incrementarFoto()" aria-label="+ 1 foto">
                    <mat-icon>add_box</mat-icon>
                  </button>

                  <button mat-mini-fab color="accent" (click)="decrementarFoto()" aria-label="- 1 foto">
                    <mat-icon>remove_circle</mat-icon>
                  </button>

                  <button mat-mini-fab color="warn" *ngIf="valorFotos > 0" (click)="exibirTabelaFoto()"
                    aria-label="Exibir Tabela fotos">
                    <mat-icon>content_paste</mat-icon>
                  </button>
                </div>
              </div>
            </section>

            <desafio-fotos [valorInicial]="valorFotos" [exibirTabelaFotos]="exibeTabelaFotos"
              (mensagemRetornoFotosEvent)="exibirMensagemFotos($event)"></desafio-fotos>
            <hr>
            <p>
              <span *ngIf="mensagemRetornoFotos">{{mensagemRetornoFotos}}</span>
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </body>

</html>